---
menu:
  - - - /
      - /new-zigbee/
      - /migrate-zigbee-zha-only/
      - /migrate-zigbee-zha/
      - /migrate-conbee/
      - /migrate-zigbee-backup/
      - /zigbee-migration-selection/
      - /nvme-selection-poe/
    - Getting started
  - - - /documentation/
      - /about-firmware-options/
      - /firmware-update/
      - /connectivity/
      - /about-multiprotocol/
      - /procedures/disable-multiprotocol/
      - /resources/
      - /videos/
    - Documentation
  - - - /faq/
    - FAQ
---

{% comment %}
<!-- prettier-ignore -->
{% endcomment %}{% capture full_title -%}
  {%- if title -%}
    {{ title }} – Home Assistant SkyConnect
  {%- else -%}
    Home Assistant SkyConnect
  {%- endif -%}
{%- endcapture %}
{% comment %}
<!-- prettier-unignore -->
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ full_title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="{{ full_title }}" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <script
    src="https://kit.fontawesome.com/ee3aba475c.js"
    crossorigin="anonymous"
  ></script>
  <body>
    <header></header>
    <div class="container">
      <div class="nav-bar">
      <a class="logo" href="/">
        <picture>
          <source srcset="/images/connect-zbt-1_logo_dark.png" media="(prefers-color-scheme: dark)">
          <img src="/images/connect-zbt-1_logo_light.png" alt="Home Assistant Connect&nbsp;ZBT-1" />
        </picture>
      </a>
        <ul>
          {% for item in menu %}
            <li>
              <a class="{% if item[0] contains page.url %}active{% endif %}" href="{{ item[0][0] }}">{{ item[1] }}</a>
            </li>
          {% endfor %}
          <li>
            <a
              class="buy-button"
              target="_blank"
              href="https://www.home-assistant.io/skyconnect">Buy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content">{{ content }}</div>

    <div class="container">
      <div class="footer">
        <div>
          Home&nbsp;Assistant Connect&nbsp;ZBT-1 &nbsp; – &nbsp;
          <a href="mailto:hello@home-assistant.io">Support</a>
          &nbsp; – &nbsp;
          <a href="https://www.github.com/home-assistant" target="_blank">GitHub</a>
          &nbsp; – &nbsp;
          <a href="https://discord.com/invite/home-assistant" target="_blank"
            >Discord#zigbee</a>
          &nbsp; – &nbsp;
          <a href="https://www.home-assistant.io/" target="_blank"
            >home-assistant.io</a
          >
          &nbsp; – &nbsp;
          <a href="https://www.nabucasa.com/" target="_blank"
            >Nabu Casa</a
          >
        </div>
      </div>
    </div>
    <script>
    // Function to handle link clicks with hash preservation
    function handleClickEvent(event) {
      // Find the closest link element in case we did not click directly on the link 
      const link = event.target.closest("a");
      // Check if it's a link and not clicked within the link itself (e.g., on an image)
      if (link) {
        // Create a new URL object from the link's href
        const targetURL = new URL(link.href)

        // Add the hash to the URL
        targetURL.hash = "#from-skyconnect"

        // Prevent default behavior and navigate with modified URL
        event.preventDefault();

        // Set the new URL with hash as the current location
        window.location.href = targetURL.toString();
      }
    }

  // Function to create and insert the banner element
    function insertBanner() {
      // Check if #from-skyconnect is present in the URL
      if (window.location.hash === "#from-skyconnect") {
        // Create the banner element (a `<div>`)
        const banner = document.createElement("div");
        banner.textContent = "We noticed you were looking for Home Assistant SkyConnect - it's now called Home Assistant Connect ZBT-1, and remains the best way to connect to Zigbee devices.";

        // Apply styles
        Object.assign(banner.style, {
          backgroundColor: "var(--primary-color)",
          color: "#fff",
          padding: "10px",
          fontSize: "16px",
          textAlign: "center",
        });

        // Insert the banner content into the header element
        document.querySelector("header").appendChild(banner);
      }
    }

    // Call the function on page load and handle hash changes
    window.addEventListener("hashchange", insertBanner);
    if (window.location.hash === "#from-skyconnect") {
      // Add event listeners for page load and click events to handle hash preservation
      insertBanner();
      document.addEventListener("click", handleClickEvent);
    }
  </script>
  </body>
</html>

