---
menu:
  - - - /
      - /new-zigbee/
      - /migrate-zigbee-zha-only/
      - /migrate-zigbee-zha/
      - /migrate-conbee/
      - /migrate-zigbee-backup/
      - /nvme-selection-poe/
    - Getting Started
  - - - /documentation/
      - /firmware-update/
      - /connectivity/
      - /procedures/enable-multiprotocol/
      - /guides/disable-multiprotocol/
    - Documentation
  - - - /faq/
    - FAQ
---

{% comment %}
<!-- prettier-ignore -->
{% endcomment %}{% capture full_title -%}
  {%- if title -%}
    {{ title }} – Home Assistant SkyConnect
  {%- else -%}
    Home Assistant SkyConnect
  {%- endif -%}
{%- endcapture %}
{% comment %}
<!-- prettier-unignore -->
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ full_title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="{{ full_title }}" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <script
    src="https://kit.fontawesome.com/ee3aba475c.js"
    crossorigin="anonymous"
  ></script>
  <body>
    <div class="container">
      <div class="nav-bar">
      <a class="logo" href="/">
        <picture>
          <source srcset="/images/skyconnect-logo-white.png" media="(prefers-color-scheme: dark)">
          <img src="/images/skyconnect-logo.png" alt="Home Assistant SkyConnect" />
        </picture>
      </a>
        <ul>
          {% for item in menu %}
            <li>
              <a class="{% if item[0] contains page.url %}active{% endif %}" href="{{ item[0][0] }}">{{ item[1] }}</a>
            </li>
          {% endfor %}
          <li>
            <a
              class="buy-button"
              target="_blank"
              href="https://www.home-assistant.io/skyconnect">Buy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content">{{ content }}</div>

    <div class="container">
      <div class="footer">
        <div>
          Home&nbsp;Assistant SkyConnect &nbsp; – &nbsp;
          <a href="mailto:hello@home-assistant.io">Contact</a>
          &nbsp; – &nbsp;
          <a href="https://www.github.com/home-assistant" target="_blank">GitHub</a>
          &nbsp; – &nbsp;
          <a href="https://discord.com/invite/home-assistant" target="_blank"
            >Discord#zigbee</a>
        </div>
      </div>
    </div>
  </body>
</html>
